.burger-menu {
    opacity: 0;
    width: 80px;
    cursor: pointer;
    height: 60px;
    z-index: 100;
    position: fixed;
    top: 14px;
    right: 0;
    pointer-events: none;

    & span {
        display: block;
        background-color: $white;
        width: 60%;
        height: 6px;
        margin: 8px auto;
        border-radius: 10px;
    }
}

.cancel-menu {
    @extend .burger-menu;

    & .left,
    & .right {
        background-color: red;
    }

    & .left {
        position: relative;
        top: 12px;
        transform: rotate(-45deg);
    }

    & .right {
        position: relative;
        top: 0px;
        transform: rotate(45deg);
    }
}

.active {
    display: block;
    pointer-events: auto;
    opacity: 1;
}